@model FGPay.Models.Agent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientIP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AgentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
