@model IEnumerable<FGPay.Models.Agent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLoginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientIP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientIP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
