@model FGPay.Manager.Models.Merchant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Merchant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepaidRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepaidRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithdrawalRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithdrawalRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Md5key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Md5key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantAgent.AgentID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MerchantID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
