@model IEnumerable<FGPay.Models.Merchant>

@{
    ViewData["Title"] = "商户信息";
    ViewData["Page"] = "Merchant";
}
<p>
    <a asp-action="Create">新增商户</a>
</p>
<table class="table table-striped table-hover" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MerchantUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepaidRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WithdrawalRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantAgent.AgentUserID)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @(item.MerchantState==1?"正常":"禁用")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaidRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithdrawalRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantAgent.AgentUserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.ID">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
