<!DOCTYPE html>
@{
    string fileName = ((Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest)ViewContext.HttpContext.Request).Path.Value.Substring(1).Replace('/', '@');
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
    @*引入当页样式*@
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="@Url.Content(string.Format("~/Scripts/{0}.js", fileName))"></script>

    @*引入当页脚本*@
    @RenderSection("scripts", required: false)
</body>
</html>
